doctype html

html

    head

        title MyData Page

    body

        h2 Hello I am Varun Kumar Reddy Bhavanam.

        p4 I have much intrest in designing mobile games and creating anime characters.
 