doctype html

html

    head

        title MyData Page

    body

        h3 Hello I am Varun Kumar Reddy Bhavanam.

        p I have much intrest in designing mobile games and creating anime characters.





